body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 1;
  }
  textarea {
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
  }
  .spacer{
    margin-left: -13%;
    margin-right: -15%;
  }
  .topBar {
    justify-content: center;
  }
  .city {
    height: 40%;
    border: solid 1px black;
  }
  .search-bottom {
    border-bottom: solid 3px;
    margin-top: -80px;
  }
  .submit {
    width: 245px;
    width: -webkit-fill-available;
  }
  .city-options-div {
    margin-top: -50px;
    margin-left: 9px;
  }
  .city-options {
    margin-bottom: 15px;
    width: -webkit-fill-available;
  }
  .showcase-city {
    margin-bottom: -13px;
      margin-top: -18px;
  }
  .showcase-city-date{
    margin-bottom: -5%;
  }
  .city-info {
    margin-top: 2px;
    margin-bottom: 0px;
  }
  .bold {
    font-weight: bold;
  }
  .row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid white;
  }
  .five-day{
    border: solid 2px;
    background: #5B776C;
    color: white;
  }
  .five-col-img{
    width: inherit;
  }
  .showcase-city-img{
    width: 50px;
    height: 50px;
    float: left;
  }
  .saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #06AED5;
    color: white;
  }
  .saveBtn i:hover {
    font-size: 20px;
    transition: all 0.3s ease-in-out;
  }